@import "tailwindcss";

:root {
  --font-main: system-ui, 'Source Sans 3', sans-serif;
  --main-bg-color: #F5F6FA;
  --color-text: #333;
  --color-accent: #3B86FF;
  --table-border: #EAF0F4;
}

body {
  font-family: var(--font-main);
  background-color: #F0F0F7;
  color: var(--color-text);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

button {
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

input {
  background: transparent; 
  border: none; 
  outline: none; 
  box-shadow: none;
  color: #4D4F5C; 
  padding: 0;
  margin: 0;
  appearance: none;
}
input::placeholder {
  color: #4D4F5C; 
}